&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{A Dogueria}<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp		Obrigado pela preferência<br>
-------------------------------------------<br>
Data: {19/12/2018}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHora: {14:43}<br>
<br>
	  *** Não é Documento Fiscal ***<br>
-------------------------------------------<br>
Item&nbsp&nbsp&nbspQtd&nbsp&nbsp&nbspV. Uni&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTotal<br>
{NORA  GRANDE}<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{1}&nbsp&nbsp&nbsp{3,00}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{3,00}<br>
{+ Chedar}<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{21,90}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{21,90}<br>
-------------------------------------------<br>
Total:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{24,90}<br>
Taxa de Entrega:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{24,90}<br>
Total A Pagar:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{24,90}<br>
-------------------------------------------<br>
Formas de Pagamento:&nbsp&nbsp{Dinheiro}<br>
Troco para:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{R$ 100,00}<br>
Observação:
-------------------------------------------<br>
Dados para Entrega:<br>
-------------------------------------------<br>
Nome: {Teste}<br>
Telefone:{11964544820}<br>
Rua: {Teste} Número: {1}<br>
Cidade: {São Paulo}<br>
Bairro: {Vila Carrão}<br>


