/*------------------------------------------------------------------
[Yui Template CSS]

Project:	Yui - ThemeForest
Version:	1.0.1
Last change:	August 14, 2018
Author:	Xioyuna


[Table of contents]

1. General
2. Navbar
3. Tab Bar
4. Cards
5. Lists
6. Pages Tab
7. Single Pages
8. Discover Tab
9. Categories Tab
10. Search Tab
11. Author List Page
12. Author Page
13. Contact Page
14. Dark Theme
15. Responsive

-------------------------------------------------------------------*/

/************** 1. General *************/

body {
	background: #fff;
}
.ios body {
	font-family: -apple-system,BlinkMacSystemFont,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #000;
	background: #fff;
	line-height: 1.4;
}
.ios .page {
	background: #fff;
}
.ios .block {
	margin: 0;
	padding: 0 20px;
	color: #8A8A8F;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
a {
	text-decoration: none;
	cursor: pointer;
}
h1 {
	font-weight: 700;
	font-size: 34px;
	color: #000;
	margin: 0;
}
h2 {
	font-size: 20px;
	color: #000;
	margin: 40px 0 20px;
}
h3 {
	font-size: 17px;
}
.block>h2:first-child {
	margin: 30px 0 0;
}
.page-content {
	padding-bottom: 0px;
	overflow-x: hidden;
}
.page-content::after{
  content: '';
  height: 68px; /* required padding bottom */
  display: block;
  width: 1px;
}
p {
	font-size: 17px;
	line-height: 24px;
	margin-top: 10px;
}
img {
	display: block;
}
.title-container {
	margin: 30px 0 10px;
}
.title-date {
	color: #ff2e54;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
}
.title-with-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title-with-link a {
	font-size: 17px;
}
.title-with-link button {
	width: auto;
}
.ptr-preloader {
	margin-top: -10px !important;
	margin-bottom: -40px !important;
}

/************** 2. Navbar *************/

.ios .navbar {
	background: #fff;
}
.ios .navbar:after {
	opacity: 0.7;
}
.ios .navbar~.page-content, .ios .navbar~:not(.no-navbar) .page-content {
	padding-top: 64px;
}

/************** 3. Tab Bar *************/

.ios .tabbar-labels a.tab-link {
	font-size: 27px;
	padding-top: 6px;
	padding-bottom: 3px;
	font-weight: 500;
}
.ios .tabbar-labels a.tab-link i {
	line-height: 20px;
}
.ios .tabbar-labels .tabbar-label {
	letter-spacing: 0;
}
.ios .toolbar {
	background: #fff;
}
.ios .toolbar-inner {
	padding: 0;
}
.ios .tabbar a, .ios .tabbar-labels a {
	color: #979797;
}

/************** 4. Cards *************/

.ios .card {
	box-shadow: none;
	margin: 0 0 25px 0;
	-webkit-box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	background-color: transparent;
}
.ios .card-feed {
	box-shadow: none;
	margin: 0 0 25px 0;
	-webkit-box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	background-color: transparent;
}
.card {
	position: relative;
	width: 100%;
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: 15px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}
.card-feed {
	position: relative;
	width: 100%;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

.card-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 5 5 0 0px;
	top: 0%;
}
.card-image2 {
	object-fit: cover ;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 15px;
}
.card-infos-feed {
	position: absolute;
	z-index: 2;
	padding: 80% 20px 100px 40px;
	
}
.card-infos {
	z-index: 2;
	padding: 100% 20px 20px 20px;
	background-image: linear-gradient(to bottom,rgba(59, 2, 26, 0) 0, rgba(0, 0, 0, 0.719) 100%, rgba(0, 0, 0, 0.973) 100%);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.card-infos2 {
	z-index: 2;
	padding: 120% 20px 20px 20px;
	background-image: linear-gradient(to bottom,rgba(119, 13, 151, 0.678) 0, rgba(0, 0, 0, 0.185) 100%, rgba(0, 0, 0, 0) 100%);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}


.card-title {
	color: #fff;
	margin: 0;
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;

}
.card-title-feed {
	position: absolute;
	color: rgb(32, 32, 32);
	margin-left: 38%;
	margin-top: -30px !important;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;

}
.card-title-drink {
	color: #fff;
	margin: 0;
	padding-bottom: 6px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}
.card .chip {
	float: right;
	position: absolute;	
	left: 20px;
	bottom: 50px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	display: flex;
	line-height: 23px;
	color: rgb(29, 29, 29);
}

.card .chip i {
	margin-right: 4px;
	font-size: 16px;
	color: rgb(29, 29, 29);
}
.card .chip select {
	
	color: rgb(29, 29, 29);
}
.card .chip2 {
	float: right;
	position: absolute;	
	left: 20px;
	bottom: 60%;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	display: flex;
	line-height: 23px;
	color: rgb(29, 29, 29);
}
.card .chip2 i {
	margin-right: 4px;
	font-size: 16px;
	color: rgb(29, 29, 29);
}
.card .chip2 select {
	
	color: rgb(29, 29, 29);
}

.card .size {
	float: right;
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	display: flex;
	line-height: 23px;
}
.card .size i {
	margin-right: 4px;
	font-size: 16px;
}
.card-bottom {
	display: flex;
	align-items: center;
	margin-top: 4px;
	justify-content: space-between;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 35px;
}
.card-bottom-feed {
	display: flex;
	align-items: center;
	margin-top: 4px;
	justify-content: space-between;
	color: rgba(29, 29, 29, 0.8);
	font-weight: 500;
	font-size: 14px;
	
}
.card-author {
	display: flex;
	align-items: center;
}
.card-author-feed {
	margin-left: 38%;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	font-size: 10px;
}
.card-author-image {
	height: 30px;
	border-radius: 40px;
	margin-right: 10px;
}
.card-comments {
	display: flex;
	align-items: center;
	line-height: 0;
}
.card-comments i {
	margin-right: 5px;
	font-size: 19px;
}
.card-category {
	color: #b9b9b9;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 4px;
	text-transform: uppercase;
}
.card-image-container {
	height: 250px;
	position: relative;
}
.card-style-2 {
	height: auto;
	justify-content: normal;
}
.card-style-2 .card-image {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.card-style-2 .card-title {
	color: #000;
	font-size: 24px;
	line-height: 30px;
	margin-top: 5px;
}
.card-style-2 .card-category {
	color: #8A8A8F;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.card-style-2 .card-infos {
	padding: 17px 20px;
	background-image: none;
}
.card-style-2 .card-description {
	margin: 8px 0 0px;
	color: #97969c;
	font-size: 15px;
}
.card.medium {
	height: 220px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.card.medium .card-image {
	border-radius: 10px;
}
.card.medium .card-infos {
	padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.card.medium .card-title {
	font-size: 22px;
	line-height: 29px;
}
.card .card-date {
	margin-bottom: 5px;
	color: #e0e0e0;
	font-weight: 500;
	font-size: 15px;
	display: flex;
	align-items: center;
}
.card .card-date i {
	margin-right: 7px;
	font-size: 17px;
	line-height: 20px;
}
.swiper-container .card {
	height: 380px;
	width: 350px;	

}
.swiper-container .card .card-title {
	font-size: 25px;
	line-height: 32px;
}
.two-columns-cards {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin-bottom: -10px;
}
.two-columns-cards a {
	width: calc(50% - 5px);
	height: 250px;
	margin: 0 0 10px 0;
}
.two-columns-cards .card, .swiper-container.medium-card-slider .card {
	height: 100%;
	border-radius: 5px;
	box-shadow: 0px 5px 35px -10px rgba(0, 0, 0, 0.2);
}
.two-columns-cards .card-image, .swiper-container.medium-card-slider .card-image {
	border-radius: 5px;
}
.two-columns-cards a:first-child {
	height: 200px;
	margin-top: 0 !important;
}
.two-columns-cards a:nth-child(2n+1) {
	margin-top: -50px;
	margin-right: 10px;
}
.two-columns-cards a:last-child {
	height: 200px;
}
.two-columns-cards .card-infos, .swiper-container.medium-card-slider .card-infos {
	padding: 20% 13px 13px 13px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.two-columns-cards .card-title, .swiper-container.medium-card-slider .card-title {
	font-size: 18px;
	line-height: 23px;
}
.swiper-container.medium-card-slider .card {
	width: 100%;
	height: 160px;
	margin: 0;
	box-shadow: none;
}
.swiper-container.medium-card-slider.style-2 .card {
	height: 140px;
}
.swiper-container.medium-card-slider.style-2 .card-infos {
	background: none;
	color: #000;
	padding: 8px 8px 0 0;
	font-weight: 500;
}
.swiper-container.medium-card-slider.style-2 .card-infos .card-title {
	color: #000;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
}

/************** 5. Lists *************/

.ios .post-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ios .post-list .item-content {
	padding-left: 0;
}
.ios .post-list .item-content .item-inner {
	padding-right: 0;
}
.ios .post-list .item-content .item-media {
	width: 80px;
	height: 80px;
}
.ios .post-list .item-content .item-media img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-top: 15px !important;
	border-radius: 5px;
}
.ios .post-list .item-subtitle {
	color: #5a5a5a;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.ios .post-list .item-title {
	margin: 5px 0 6px;
	color: #000;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	white-space: pre-wrap;
}
.ios .post-list.long-title .item-title {
	-webkit-line-clamp: 3;
}
.ios .post-list .item-subtitle.bottom-subtitle {
	top: -40px;
	left: 90px;
	display: flex;
	align-items: center;
	text-transform: none;
	font-weight: 500;
	font-size: 12px;
}
.ios .post-list .item-subtitle.bottom-subtitle i {
	font-weight: 500;
	font-size: 15px;
	margin-right: 5px;
	color: #a6a6ab;
}
.ios .post-list .item-subtitle.bottom-subtitle img {
	width: 22px;
	border-radius: 11px;
	margin-right: 6px;
}
.ios ul.list.media-list.post-list {
	margin: -8px 0;
}

/************** 6. Pages Tab *************/

.ios .pages-list {
	margin: 15px 0;
}
.ios .pages-list .item-media {
	background: #ff2d55;
	color: #fff;
	width: 35px;
	height: 35px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 30px;
}
.ios .pages-list .item-media i {
	color: #fff;
}
.ios .pages-list .item-inner {
	padding-top: 18px;
	padding-bottom: 18px;
	font-weight: 500;
}
#pages-ptr {
	padding-top: 0;
}
.ios #pages-ptr .block {
	padding: 20px;
}
.list .item-link.item-button .item-inner {
	background: none;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.list .item-link.item-button .item-inner button {
	width: auto;
	position: absolute;
	right: 10px;
}
.page-elements.single h1 {
	margin: 10px 0 !important;
}
.page-elements.single .block>h2:first-child {
	margin-top: 0;
}
.item-themes {
	padding: 23px 20px;
}
.ios .radio .icon-radio {
	border: none;
}
.ios .radio .icon-radio.bg-color-white {
	border: 1px solid #c7c7cc;
}
.ios .radio .icon-radio.bg-color-black {
	border: 1px solid #fff;
}
.ios .radio.color-white input[type=radio]:checked~.icon-radio {
  border-color: #c7c7cc;
}

/************** 7. Single Pages *************/

.single img {
	width: 100%;
}
.single h1 {
	font-size: 30px;
	line-height: 36px;
	margin: 20px 0 30px 0 !important;
}
.single p, .single ul {
	color: #838288;
	font-size: 19px;
	line-height: 26px;
	margin: 15px 0 !important;
}
.close-button {
	position: fixed;
	z-index: 10;
	display: flex;
	width: 28px;
	height: 28px;
	align-items: center;
	justify-content: center;
	background: #595959;
	border-radius: 20px;
	right: 20px;
	top: 22px;
}
.close-button img {
	width: 16px;
	height: 16px;
}
.single .article h1, .article h2, .article h3 {
	margin: 10px 0;
	color: #000;
}
.single .article {
	padding: 25px 20px 0 20px;
}
.single .article img {
	display: block;
	margin: 25px 0;
	border-radius: 8px;
}
.single .article a {
	font-weight: 500;
}
.single .post-infos {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-category {
    font-size: 15px;
    color: white;
    background: #1ccf6d;
    font-weight: 600;
    line-height: 18px;
    height: 24px !important;
    width: 100%;
    left: -40px;
    bottom: 0px;
    position: absolute;
    padding-left: 50%;
    padding-top: 5px;
    text-transform: uppercase;
}
.post-category i{
	font-size: 18px;
	color: white;
	padding-right:10px; 
}
.subtitulo {
	margin-left: 10%;
}
.single .post-category2 {
	
	font-size: 12px;
	color: white;
	background: #1ccf6d;
	display: inline-block;
	font-weight: 600;
	line-height: 18px;
	height: 26px;
	bottom: 6px !important;
	border-radius: 4px;
	padding: 2px 10px;
	text-transform: uppercase;
}
.single .post-date {
	font-size: 14px;
	color: #8e8e93;
	font-weight: 600;
	text-transform: uppercase;
}
.single .article .image-with-text {
	margin: 25px 0;
}
.single .article .image-with-text img {
	margin: 0;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.single .article .image-with-text .image-text {
	background: #f1f4f6;
	padding: 13px 18px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.single .article .full-width {
	margin-left: -20px;
	width: calc(100% + 40px);
	border-radius: 0;
}
.single .article b, .single .article strong {
	color: #000;
	font-weight: 600;
}
blockquote {
	font-size: 22px;
	color: #000;
	font-weight: 700;
	margin: 35px 35px 50px;
}
blockquote::before, blockquote::after {
	content: "\f1f5";
	font-family: "Ionicons";
	font-size: 25px;
	display: inline-block;
	color: #dfdfe0;
	font-weight: 400;
	position: absolute;
}
blockquote::before {
	margin-left: -35px;
	margin-top: -16px;
	font-size: 40px;
	transform: rotate(180deg);
}
blockquote::after {
	font-size: 30px;
	margin-top: -7px;
	margin-left: 8px;
}
blockquote .quote-author {
	position: absolute;
	color: #9b9b9e;
	font-weight: 400;
	font-size: 16px;
	padding-top: 5px;
}
.single-2 .article {
	padding: 10px 20px 0 20px;
}
.single .single-header {
	position: relative;
}
.single .single-header img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.single .single-header-infos {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 2;
	padding: 30% 20px 30px 20px;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.8) 100%, rgba(0,0,0,0.9) 100%);
}
.single .single-header-infos h1 {
	color: #fff;
	margin: 10px 0 13px !important;
}
.single .single-header-infos .post-date {
	color: #b7b7bd;
	margin-left: 12px;
}
.single .single-header-details {
	display: flex;
}
.link-block {
	display: flex;
	margin: 20px 0;
	background: #f2f2f4;
	align-items: center;
	justify-content: space-between;
	padding: 16px 20px;
	border-radius: 10px;
}
.link-block .link-infos {
	display: flex;
	flex-direction: column;
}
.link-block .link-title {
	color: #000;
	font-size: 16px;
	font-weight: 500;
}
.link-block .link-url {
	color: #8e8e8e;
	font-size: 16px;
	margin-top: 1px;
}
.link-block i {
	color: #c3c3c3;
	font-size: 20px;
}
iframe, video {
	width: 100%;
	height: 220px;
	margin: 20px 0;
	border: 0;
}
.promo-banner {
	padding: 10px;
	border-radius: 17px;
	position: fixed;
	bottom: 60px;
	width: calc(100% - 40px);
	margin: 0 0 0 -10px;
	background: #eaeaec;
}
.promo-banner-2 {
	padding: 0px;
	border-radius: 17px;
	position: fixed;
	bottom: 30px;
	width: calc(100% - 70px);
	margin: 0 0 0 0px;
	background: #eaeaec;
}
.promo-banner img {
	width: 50px;
	height: 50px;
	border-radius: 12px;
}
.promo-banner .link-infos {
	flex: 1;
	padding-left: 15px;
}
.promo-banner .link-title {
	color: #000;
	font-size: 17px;
	font-weight: 500;
}
.promo-banner .link-url {
	color: #545454;
	margin-top: 0;
}
.promo-banner .promo-button {
	background: #565664;
	color: #fff !important;
	display: flex;
	padding: 4px 11px;
	border-radius: 30px;
	font-weight: 700;
	font-size: 15px;
}
.title-medium-container {
	margin-top: 30px;
	position: relative;
}
.title-medium-container:before {
	content: '';
	position: absolute;
	background-color: #c8c7cc;
	display: block;
	z-index: 15;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	height: 1px;
	width: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.ios.device-pixel-ratio-3 .title-medium-container:before {
	-webkit-transform: scaleY(.33);
	transform: scaleY(.33);
}
.ios.device-pixel-ratio-2 .title-medium-container:before {
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}
.title-medium-container h2 {
	margin: 0;
	font-size: 22px;
	position: relative;
	padding: 10px 0;
}
.author-block {
	height: 8px;
	display: flex;
	align-items: center;
	background: #f2f2f4;
	padding: 15px 20px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 10px;
}
.author-block img {
	width: 55px;
	border-radius: 30px;
}
.author-block .author-infos {
	margin-left: -10px;
}
.author-block .author-name {
	padding-left: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #363233;
}
.author-block .author-price {
	font-size: 12px;
	font-weight: 600;
	color: #363233;
}
.author-block .author-description {
	font-size: 16px;
	color: #8e8e8e;
}
.author-block button {
	width: auto;
	float: right;
	position: absolute;
	right: 20px;
}
.social-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.ios .big-button {
	font-size: 16px;
	padding: 10px;
	height: 45px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	font-weight: 600;
}
.social-buttons .big-button {
	width: calc(50% - 5px);
	height: 40px;
}
.big-button i {
	margin-right: 8px !important;
	font-size: 23px;
	line-height: 28px;
}
.big-button.facebook {
	background-color: #3b5998;
	color: #fff !important;
}
.big-button.twitter {
	background-color: #00aced;
	color: #fff !important;
}
.ios .comment-list {
	margin: 0;
}
.ios .comment-list .item-media img {
	width: 55px;
	border-radius: 30px;
}
.ios .comment-list .item-content {
	padding-left: 0;
}
.ios .comment-list .item-title {
	color: #000;
	font-size: 17px;
	font-weight: 600;
}
.ios .comment-list .item .item-title-row {
	background: none;
	padding-right: 0;
	margin-bottom: 5px;
}
.ios .comment-list .item .item-inner {
	padding-right: 0;
}
.ios .comment-list .item-text {
	max-height: none;
	font-size: 17px;
	line-height: 25px;
	-webkit-line-clamp: unset;
}
.ios .comment-list .item-after i {
	color: #ff2f53;
	font-size: 17px;
	margin-right: 4px;
}
.ios .comment-list .item-after {
	color: #000;
	font-weight: 600;
	font-size: 16px;
	display: flex;
	align-items: center;
}
.swiper-container {
	padding: 0 0 0 20px;
	overflow: visible;
}
.swiper-container .card, .swiper-container .card.medium {
	margin-bottom: 0;
}
.swiper-container .card.medium {
  height: 220px;
}
.ios .custom-form {
	margin: 0;
}
.ios .custom-form .item-label {
	font-size: 15px;
	color: #000;
	font-weight: 500;
}
.ios .custom-form .item-inner {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 5px;
}
.ios .custom-form .item-inner::after {
	display: none;
}
.ios .list .item-inner textarea {
	min-height: 80px;
}
.ios .custom-form .item-content {
	background: #f2f2f4;
	padding: 0 5px 0 15px;
	margin: 15px 0;
	border-radius: 8px;
}
.title-small {
	margin-top: 20px;
}
.title-small h2 {
	font-size: 17px;
	padding-bottom: 0;
}
.ios .custom-form input, .ios .custom-form textarea {
	padding-right: 30px;
}
.ios .custom-form input::-webkit-input-placeholder, .ios .custom-form textarea::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #96969b;
}
.ios .custom-form input::-moz-placeholder, .ios .custom-form textarea::-moz-placeholder {
	/* Firefox 19+ */
	color: #96969b;
}
.ios .custom-form input:-ms-input-placeholder, .ios .custom-form textarea:-ms-input-placeholder {
	/* IE 10+ */
	color: #96969b;
}
.ios .custom-form input:-moz-placeholder, .ios .custom-form textarea:-moz-placeholder {
	/* Firefox 18- */
	color: #96969b;
}
.big-button.pink-bg {
	background: #ff2e54;
	color: #fff !important;
}

/************** 8. Discover Tab *************/

.title-container.white h1 {
	color: #fff;
}
.title-container.white i {
	color: #fff;
	font-size: 35px;
}
.title-container.white .title-date {
	color: rgba(255, 255, 255, 0.6);
}
.discover-gradient {
	width: 100%;
	height: 300px;
	position: absolute;
	background: #8705f0;
	background: linear-gradient(to bottom right, #ff2e54, #c519e4);
}
.discover-gradient svg {
	position: absolute;
	bottom: 0;
	width: calc(100% + 2px);
	height: 70px;
}

/************** 9. Categories Tab *************/

.categories-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.categories-container a {
	width: calc(50% - 8px);
}
.category {
	height: 110px;
	background-size: cover;
	background-position: center;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
	margin-bottom: 18px !important;
}
.category h2 {
	margin: 0;
	position: absolute;
	bottom: 6px;
	left: 12px;
	font-size: 23px;
	color: #fff;
}
.category-title {
	margin: 20px 0 10px;
}

/************** 10. Search Tab *************/

.ios .searchbar input[type=search], .ios .searchbar input[type=text] {
	background-color: #f2f2f4;
}
.ios .searchbar {
	background: #fff;
	margin-bottom: 5px;
}
.ios .searchbar::after {
	display: none;
}
.ios .searchbar-inner {
	padding: 0;
}
.searchbar-container {
	position: fixed;
	margin-bottom: 375px;
	width: 100%;
	z-index: 150;
	background: #fff;
}
.page-search .title-container {
	margin: 0;
	padding-top: 30px;
}
.page-search .search-container {
	margin-top: 120px;
	padding-top: 1px;
}
.page-search h2 {
	margin: 40px 0 20px;
}
.ios .trending-search {
	margin: -10px 0 20px 0;
}
.ios .trending-search .item-content {
	padding-left: 0;
	font-size: 22px;
}
.ios .trending-search .item-content .item-title {
	padding: 2px 0;
}
.popular-tags {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: -15px;
}
.popular-tags li {
	list-style: none;
	margin: 0;
	padding: 0;
	width: calc(50% - 8px);
}
.popular-tags a {
	background: #f2f2f4;
	font-size: 20px;
	padding: 7px 12px 7px 12px;
	margin-bottom: 15px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.popular-tags li:nth-child(2n+1) {
	margin-right: 15px;
}
.popular-tags a i {
	color: #cccccc;
	font-size: 18px;
}
.search-results {
	display: none;
	margin-top: 20px;
}
.search-preloader {
	display: none;
	margin: 20px auto;
}

/************** 11. Author List Page *************/

.popular-authors {
	padding: 0;
}
.popular-authors li {
	list-style: none;
}
.popular-authors li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.popular-authors .author-image {
	height: 60px;
	width: 60px;
	border-radius: 40px;
	overflow: hidden;
}
.popular-authors .author-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.popular-authors .author-infos {
	flex: 1;
	margin-left: 13px;
}
.popular-authors .author-name {
	color: #000;
	font-size: 19px;
	font-weight: 500;
	margin-bottom: 3px;
}
.popular-authors .author-description {
	font-size: 16px;
	font-weight: 500;
	color: #a6a6ab;
}
.author-star {
	color: #ffd12a;
	font-size: 25px;
}

/************** 12. Author Page *************/

.author .navbar {
	background: transparent;
}
.author .navbar::after {
	display: none;
}
.author .navbar .link.back {
	color: #fff;
}
.oval {
	width: calc(100% + 50px);
	margin-left: -25px;
	margin-top: -100px;
	height: 350px;
	background: #8705f0;
	background: linear-gradient(to bottom right, #ff133e, #fb1bac);
	-moz-border-radius: 100% / 50%;
	-webkit-border-radius: 100% / 50%;
	border-radius: 100% / 50%;
}
.author .author-infos {
	width: 100%;
	margin: 0 auto;
	margin-top: -110px;
	background: #fff;
	border-radius: 15px;
	-webkit-box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 25px;
	max-width: 600px;
}
.author .author-avatar {
	width: 100px;
	border-radius: 100px;
	margin-top: -50px;
	border: 5px solid #fff;
}
.author .author-name {
	font-size: 22px;
	color: #000;
	font-weight: 600;
	margin: 15px 0 4px 0;
}
.author .author-description {
	font-size: 17px;
	font-weight: 500;
	color: #9fa4a9;
}
.navbar .link.back i {
	font-size: 30px;
}
.top-buttons {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 8px;
}
.top-buttons a {
	display: block;
	font-size: 17px;
	text-align: center;
	line-height: 44px;
	display: flex;
	align-items: center;
}
.top-buttons a span {
	margin-left: 7px;
}
.top-buttons.white-buttons a {
	color: #fff !important;
}
.top-buttons a:first-child {
	margin-left: 7px;
}
.top-buttons a:nth-child(2) {
	margin-right: 12px;
}
.author .social-buttons {
	margin-top: 25px;
}
.author .social-buttons a {
	padding: 5px 25px;
}
.count-container {
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
	margin-top: 20px;
	background: #fff;
	border-radius: 15px;
	-webkit-box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0 17px 0;
}
.count-container .count-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}
.count-container .count-block .count-number {
	font-size: 28px;
	font-weight: 800;
	color: #000;
}
.count-container .count-block .count-label {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	font-size: 14px;
	font-weight: 600;
	color: #9fa4a9;
}

/************** 13. Contact Page *************/

.contact-container {
	width: calc(100% - 40px);
	margin: 0 auto;
	margin-top: -110px;
	background: #fff;
	border-radius: 15px;
	-webkit-box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 60px -10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 20px;
	max-width: 600px;
}
.contact-container .contact-icon {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-top: -70px;
	border: 5px solid #fff;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -15px;
}
.contact-container .contact-icon i {
	font-size: 55px;
	color: #eaeaec;
	margin-top: -20px;
}
.contact-container p {
	text-align: center;
}
.contact-form {
	width: 100%;
	margin-top: 10px !important
}
.contact-container .big-button {
	width: 100%;
}
.ios .contact-form .item-inner textarea {
	min-height: 150px;
}

/************** 14. Dark Theme *************/

.ios .theme-dark, .theme-dark h1, .theme-dark h2, .ios .theme-dark .post-list .item-title,
.theme-dark .popular-authors .author-name, .theme-dark .card-style-2 .card-title,
.theme-dark .swiper-container.medium-card-slider.style-2 .card-infos .card-title,
.theme-dark .single .article h1, .theme-dark .article h2, .theme-dark .article h3, .theme-dark blockquote,
.ios .theme-dark .comment-list .item-title, .theme-dark .link-block .link-title, .theme-dark .author-block .author-name, .ios .theme-dark .comment-list .item-after,
.theme-dark .count-container .count-block .count-number, .theme-dark .author .author-name {
	color: #eae7e1;
}
.theme-dark .card h1, .theme-dark .card h2 {
	color: #fff;
}
.theme-dark .title-medium-container:before {
	background-color: #282829;
}
.theme-dark .popular-authors .author-description, .theme-dark .title-date, .ios .theme-dark .post-list .item-subtitle {
	color: #ff2e54;
}
.theme-dark .discover-gradient {
	background: linear-gradient(to bottom right, #ea2b4e, #7e1292);
}
.theme-dark .oval {
	background: linear-gradient(to bottom right, #ea2b4e, #7e1292);
}
.ios .theme-dark .toolbar:before, .toolbar.ios .theme-dark:before {
	background-color: #4d4d4d;
}
.ios .theme-dark .toolbar, .toolbar.ios .theme-dark {
	background: #151515;
}
.theme-dark .category.card {
	box-shadow: none !important;
}
.theme-dark .category.card h2 {
	color: #fff;
}
.theme-dark .single .article .image-with-text .image-text {
	color: #b3b3b3;
	background: #282a2f;
}
.theme-dark blockquote::before, .theme-dark blockquote::after {
	color: #7d7d7d;
}
.theme-dark .link-block, .theme-dark .author-block, .theme-dark .author .author-infos, .theme-dark .count-container, .ios .theme-dark .custom-form .item-content, .theme-dark .contact-container, .ios .theme-dark .contact-container .list ul, .theme-dark .contact-container .contact-icon {
	background: #282a2f;
}
.theme-dark .author .author-avatar, .theme-dark .contact-container .contact-icon {
	border: 5px solid #282a2f;
}
.ios .theme-dark .contact-container .custom-form .item-content {
	background: #171717;
}
.theme-dark .contact-container .contact-icon i {
	color: #171717;
}
.theme-dark .promo-banner .link-url {
	color: #8e8d8d;
}
.theme-dark .single .article b, .theme-dark .single .article strong {
	color: #c7c7c7;
}
.ios .theme-dark .tabbar a, .ios .tabbar-labels a {
	color: #7f7f7f;
}
.theme-dark .card-style-2 .card-infos, .theme-dark .popular-tags a {
	background: #282a2f;
}
.theme-dark .discover-gradient svg polygon {
	fill: #171717;
}
.theme-dark .searchbar-container, .ios .theme-dark .searchbar {
	background-color: #171717;
}
.ios .theme-dark .searchbar input[type=search], .ios .theme-dark .searchbar input[type=text], .searchbar.ios .theme-dark input[type=search], .searchbar.ios .theme-dark input[type=text] {
	background-color: #282a2f;
}
.ios .theme-dark .list ul, .list.ios .theme-dark ul {
	background-color: #171717;
}
.theme-dark .popular-tags a i {
	color: #565658;
}

/************** 15. Responsive *************/

@media (min-width: 768px) {
	.popular-tags li:nth-child(3n+3) {
		margin-right: 0;
	}
	.popular-tags li {
		width: calc(33% - 8px);
		margin-right: 15px;
	}
	.card {
		height: 600px;
	}
	.card-image-container {
		height: 550px;
	}
	.two-columns-cards a {
		height: 350px;
		margin: 0 0 15px 0;
		width: calc(50% - 8px);
	}
	.two-columns-cards a:nth-child(2n+1) {
		margin-right: 15px;
	}
	.two-columns-cards a:first-child {
		height: 300px;
	}
	.two-columns-cards a:last-child {
		height: 300px;
	}
	.card.medium {
		height: 350px;
	}
	.categories-container .card {
		height: 150px;
	}
	.categories-container a {
		width: calc(33% - 8px);
	}
	.swiper-container .card.medium {
		height: 210px;
	}
	iframe, video {
		height: 350px;
	}
}
.card .add {
	float: right;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	display: flex;
	line-height: 23px;
}
.card .add i {
	margin-right: 4px;	
	font-size: 16px;
}
.card .add-slide {
	float: right;
	position: absolute;
	bottom: 8px;
	right: 10px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 8px;
	display: flex;
	line-height: 23px;
}
.card .add-slide2 {
	width: 40%;
	font-size: 10px;
	text-align: center;
	color: white;
	background: #1ccf6d;
	display: inline-block;
	font-weight: 600;
	line-height: 18px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 2px 7px;
	text-transform: uppercase;
}
.card .add-price {
	width: 40%;
	font-size: 12px;
	text-align: center;
	color: rgb(41, 40, 40);
	background: #ffffff;
	display: inline-block;
	font-weight: 600;
	line-height: 18px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 2px 7px;
	text-transform: uppercase;
}

.card .add-slide i {
	margin-right: 4px;
	font-size: 12px;
}

 /* Better mobile support for cart */
 .item-decrement, .item-increment  {
	display: none !important;
}
.brand-title {
	margin-top: -50px;
	margin-bottom: -30px;
}
.brand-icon {
	font-size: 12px;
	margin-top: -50px;
	margin-bottom: -30px;
}
.badge-position {
	position: absolute;
	margin-bottom: 10px;
	margin-left: 10px;
}
.pay-top {
	margin-top: -30px;
}
.pay-top-2 {
	margin-top: -30px;
}
.confirmed-button {
	position: absolute;
	margin-bottom: 510px;
	margin-left: 10px;
}
.slider-title {
	position: absolute;	
	margin-top: -100%;
	font-size: 32px !important;
}
.slider-subtitle {
	font-size: 16px !important;
	position: absolute;	
	margin-top: -85%;
	color: #f2f2f4;
}
.loading {
	padding-left: 10%;
}
.size-pizza {
	width: 22px;
	float: right;
	position: absolute;
	top: 2px;
	right: 122px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	display: flex;
	line-height: 23px;
}
.size-pizza-text {	
	float: right;
	position: absolute;
	top: 6px;
	margin-left: 14px !important;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	display: flex;
	line-height: 23px;
	color: #1d1d1d !important;
}
.size-pizza-descricao {	
	display: none !important;
	float: right;
	position: absolute;
	top: -3px;
	right: 63px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 7px;
	display: flex;
	line-height: 23px;
	color: #f2f2f4 !important;
}
.chip-pizza {
	border-radius: 30px;
	float: right;
	width: 40%;
	height: 26px;
	position: absolute;
	bottom: 51px;
	right: 14px;
	padding: 0 10px;
	display: flex;
	background-color: #ffffff !important;
	
}
.chip-adicional {
	border-radius: 30px;
	float: right;
	width: 50%;
	height: 26px;
	position: absolute;
	bottom: 18px;
	left: 20px;
	padding: 0 10px;
	display: flex;
	background-color: #ffffff !important;
	
}
.chip-adicional a{
	color: #252525 !important;
	font-size: 12px;
	margin-top: 5px ;
	margin-left: 5px;
	
}
.chip-adicional i{
	color: #252525 !important;
	font-size: 20px;
	margin-top: -1px ;
	margin-left: 2px;
	
}
.chip-adicional .price{
	color: #f71a1a !important;
	position: absolute;
	font-size: 14px;
	margin-top: 35px ;
	margin-left: 25px;
	
}
.w-info {
    position: absolute;
    margin-top: 2%;
    font-size: 26px;
    color: #444344;
}
.w-version {
    position: absolute !important;
    margin-top: 180% !important;
    margin-left: 25%;
    font-size: 12px;
    color: #5f5f5f;
}
.w-title {
    position: absolute;
    margin-top: -10%;
    font-size: 70px;
    color: #1cb858;
}
.w-text {
    position: absolute;
    widows: 90% !important;
    margin-top: 35%;
    font-size: 18px;
    color: #3d3d3d;
}
.w-button-info {
    position: absolute;
    margin-top: 25%; 
    width: 90% !important;
}
.w-button {
    position: absolute;
    margin-top: 40%; 
    width: 90% !important;
}
.w-img img{
    position: absolute;
    margin-top: 110%;
    width: 400px !important;
    height: auto;
}
.card-monte {
	color: rgb(194, 194, 194);
	bottom: -40px !important;
	position: relative;
	width: 60%;
	margin-left: 38%;
	
}
.modo-app i {
	position: absolute;
	font-size: 28px ;
	top: 8px;
	right: 35px;
	color: #ff2e54;
}
.padding-10 {
	padding-left: 10px ;
}
.padding-right-10 {
	padding-right: 10px ;
}
.item-delete i{
	font-size: 15px ;
	color: #ff2e547c;
	padding-left: 3px ;
	top: 30px;
	left: 90%;
	position: absolute;
}
.list-adicionais {
	background-color: #f1f4f6;
	width: 100% !important;
	position: absolute;
	bottom: 0%;
	left: 0;

}
.item-checkbox {
	width: auto;
	height: 18px !important;
	font-size: 12px !important;
	margin-top: -12px;
	margin-bottom: -10px;
	
	
	
}


.icon-checkbox {
	width: 100% !important;
	height: 18px !important;
	margin-top: 5px ;
	border-radius: 5px !important; 
	padding: 8 4 4 4px !important;
	
}
.icon-checkbox:after {

    margin-left: -5.5px;
    margin-top: -5px;
    width: 8px;
    height: 9px;
}

.ios label.item-checkbox>.icon-checkbox {
    margin-right: 3px !important;
}

.lista {
	margin-bottom: -40px;
}
.padding-bottom-1 {
	margin-bottom: 30px !important;
}
.padding-bottom-2 {
	margin-bottom: 0px !important;
}
.bebidas-card {
	width: 50% !important;
}
.feed1 {
	
	width: 60%;
	margin-left: 38% !important;
	margin-bottom: 45px !important;
}


  
  .email {
	
	background: rgb(255, 255, 255);
	border-radius: 5px;
	height: 140px;
	overflow: hidden;
	position: relative;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
	  height 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
	  box-shadow 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
	  border-radius 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .email:not(.expand) {
	cursor: pointer;
  }
  .email:not(.expand):hover {
	background: rgb(235, 235, 235);
  }
  .from {
	position: absolute;
	transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .from-contents {
	display: flex;
	flex-direction: row;
	transform-origin: 0 0;
	transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .to {
	opacity: 0;
	width:100%;
	height: 450px;
	position: absolute;
	transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .to-contents {
	transform: scale(.55);
	transform-origin: 0 0;
	transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .avatar {
	
	height: 140px;
	left: 0px;
	position: relative;
	top: 0px;
	width: 120px;
  }
  .name {
	  position: absolute;
	  width: 250px;
	padding-left: 130px;
	padding-top: 10px;
	font-size: 16px;
	font-weight: 600;
	color: #363233;
  }
  .name-large {
	position: absolute !important;
  padding-top: 40px;
  padding-left: 130px;
  width:170%;
  font-size: 11px;
  font-weight: 400;
  color: #5a5a5a;
  max-width: 35ch;

}
  .name-to {
	  position: relative;
	padding-left: 15px;
	padding-top: 10px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 800;
	color: #ffffff;
  }
  .top {
	background: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	height: auto;
	transition: height 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	width: 100%;
  }
  .avatar-large {
	object-fit: cover;
	border-radius: 0px;
	height: 140px;
	margin-left: 0px;
	position: relative;
	top: 0px;
	width: 100%;

  }

  .name-large-to {
	position: absolute;
  bottom: 14px !important;
  padding-left: 15px;
  width:90%;
  font-size: 11px;
  font-weight: 400;
  color: #ffffff;
}
  .x-touch {
	align-items: center;
	align-self: center;
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	margin-left: 100px;
	width: 50px;
	position:absolute;
  }
  .x {
	background: #BA87F9;
	border-radius: 10px;
	height: 20px;
	position: relative;
	width: 20px;
  }
  .x-touch:hover .x {
	background: #CB9AFB;
  }
  .line1 {
	background: #6422EB;
	height: 12px;
	position: absolute;
	transform: translateX(9px) translateY(4px) rotate(45deg);
	width: 2px;
  }
  .line2 {
	background: #6422EB;
	height: 12px;
	position: absolute;
	transform: translateX(9px) translateY(4px) rotate(-45deg);
	width: 2px;
  }
  .bottom {
	background: #FFF;
	color:  #444247;
	font-size: 14px;
	height: 30px;
	padding-top: 5px;
	width: 100%;
  }
  .row {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 60px;
  }
  .twitter {
	margin-left: 16px;
	height: 30px;
	position: relative;
	top: 0px;
	width: 30px;
  }
  .medium {
	height: 30px;
	margin-left: 16px;
	position: relative;
	width: 30px;
  }
  .link2 {
	margin-left: 16px;
  }
  .link a {
	color:  #444247;
	text-decoration: none;
  }
  .link a:hover {
	color:  #777579;
  }
  .email.expand {
	border-radius: 6px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.16);
	height: 400px;
	width: 100%;
  }
  .expand .from {
	opacity: 0;
	transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
  }
  .expand .from-contents {
	transform: scale(1.91);
  }
  .expand .to {
	opacity: 1;
	transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  .expand .to-contents {
	transform: scale(1);
  }
  .titulo-1 {
	  position: relative;
	top: 10px;
	padding-bottom: 15px;
	padding-left: 30%;
	color: #444444;
  	font-weight: 600;
  
}
  .titulo {
	  padding-left: 15px;
	  color: #444444;
	 font-weight: 600;
	 top: -220px !important;
	
  }
  .titulo-2 {
	  position: relative;
	padding-left: 15px;
	color: #444444;
   font-weight: 600;
   top: -20px !important;
  
}
.left-padding {
	position: relative;
	padding-left: 15px;
	padding-top: 0px !important;
	padding-right: 15px;
	bottom: 25px;
}
.adicionar-bottom {
	width: 100%;
	height: 40px;
	left: -0px;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 35%;
	background-color: #17cf5d;
	color: rgb(255, 255, 255);
	position: absolute;
	bottom: -50px;
}
.info-card {
	position: absolute;
	left: 82%;
	top: 78%;
}
.valor-card {
	position: absolute;
	left: 35px;
}
.detalhes-card {
	position: absolute;
	left: 180px !important;
	color: #1cb858;
}
.box-to {
	position: absolute;
	top: 45px;
	width: 100%;
	height: 97px;
	background-color: #2727279c !important;
	
}
.popup-swipe-to-close {
    position: absolute !important;
	background-color: #FFF !important;
	width: 100% !important;
	height: 100% !important;
	bottom: 0% !important;
}
.img-loading {
	width: 80%;
	height: 80%;
	padding-top: 50% !important;
	padding-left: 10%
}
.card-bebidas {
	width: 100%;
	height: 80px;
	border-radius: 5px;
}
.img-bebidas {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 5px 0px 0px 5px;
}
.title-bebidas {
	color: #615F5F;
	position: relative;
	top: -110px;
	left: 90px;
}
.title-descricao {
	color: #B0AFAF;
	position: relative;
	font-size: 12px;
	top: -150px;
	left: 90px;
}
.add-bebidas {
	background-color: #1cb858;
	border-radius: 4px;
	width: 25%;
	color: #ffffff;
	position: relative;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	top: -190px;
	left: 70%;
}
.valor-bebidas {
	
	border-radius: 4px;
	width: 25%;
	color: #525252a2;
	position: relative;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	top: -190px;
	left: 75%;
}
.promo-card {
	width: 90%;
	height: 80%;
	margin-left: 5%;
}
.img-delivery {
   width: 60% !important;
	height: 60% !important;
	display: block !important;
    margin-left: auto !important; 
    margin-right: auto !important; 
}
.info-delivery {
   margin-top: 130% !important; 
}

.btn-delivery {
   margin-top: 170% !important; 
}
