body {
	/*background-color: #091685;*/
	/*color:#fff;*/
	font-family: 'Segoe UI', Tahoma, Segoe UI, Arial, sans-serif;
	font-size:13px;
	height: auto; 
	min-height: 100%; 
	min-width:1024px;
	
}
.topo{
	width: 100%;
	height: 250px;
	top: 0px;
	border: 1px solid #BFBFBF;
    background-image: -webkit-gradient(
    	linear,
    	right bottom,
    	right top,
    	color-stop(0, #FFFFFF),
    	color-stop(0.82, #98DE8C)
    );
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #98DE8C 82%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #98DE8C 82%);
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #98DE8C 82%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #98DE8C 82%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #98DE8C 82%);
}

.topoImp{
	width: 100%;
	height: 150px;
	top: 0px;
	border: 1px solid #BFBFBF;
    background-image: -webkit-gradient(
    	linear,
    	right bottom,
    	right top,
    	color-stop(0, #FFFFFF),
    	color-stop(0.82, #98DE8C)
    );
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #98DE8C 82%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #98DE8C 82%);
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #98DE8C 82%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #98DE8C 82%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #98DE8C 82%);
}
.texto{
    float: right;
    width: 20%;
	height:auto;
    min-height: 400px;  
}
.colunamenu{
	/*padding-bottom: 500px;*/
	width: 18%;
	height: auto;
	float: left;
	/*border-right: 1px solid #BFBFBF*/
}
.center{
    overflow:auto;
	/*padding-bottom: 500px;*/
	
	width: 81%;
	height: auto;
	float: left;
	/*border: 2px solid #BFBFBF*/
}
.conteudo{
	width: 100%;
	height:auto;	
    min-height: 800px;    
}
.footer {position: relative;
	margin-top: -200px; /* valor negativo da altura do rodapé */
	height: 250px;
	clear:both;
	border: 1px solid #BFBFBF ;
}
.face{
	float: right;	
	margin-top: 10px;
	margin-right:30px;
}
.textoFooter{	
	float: left;	
	margin-top: 50px;
	margin-left:50px;	
	font-size:20px;
}
.imgFooter{
	float: left;	
	margin-top: 10px;
	margin-left:30px;
}
.descricao{
	float:left;
	width:180px;
	height:250px;
	border:1px solid #BFBFBF ;
	margin: 5px;
}
.imagem{
	width: 150px;
	height: 150px;
	border: 1px solid #BFBFBF;
	margin: 3px;	
}
.logo{
    width: 300px;
	margin-top:30px;
	margin-left:60px;
    float:left;
}
.textologo{
    width: 450px;
    margin-top:80px;
    margin-left:80px;
    float:left;

}
.logoimp{
    width: 300px;
	margin-top:0px;
	margin-left:60px;
    float:left;
}
.textologoimp{
    width: 450px;
    margin-top:50px;
    margin-left:80px;
    float:left;

}
.textoempresa{
	/*height:2000px;*/
	margin-top:30px;
	margin-left:100px;
	font-size:18px;
}
.imgcontato{
	margin-top:20px;
	margin-left:700px;
}
.textocontato{
	float:left;	
	margin-top:30px;
	margin-left:50px;
	font-size:20px;
}
.textoproduto{
	float:left;
	margin-top:20px;
	margin-left:100px;
	font-size:18px;
}
.cadastro{
	float:left;
	margin-top:40px;
	margin-left:100px;	
}
.login{
	margin-top:10px;
	width:250px;
	float:right;
	margin-right:10px;
	border:1px solid #BFBFBF ;
}
.imagemverde{
 margin-top:0px;   
 width:100%;
 height:200px;
 background:  #098533;     
}
.Pesquisa{
float:right;
width:250px;
/*height:8px;	*/
padding: 1px 1px 1px 1px;
/*border-bottom: 1px solid #BBB;
border-right: 1px solid #BBB;
border-top: 1px solid #BBB;*/
}
.tabela{overflow:auto;
	margin-left:30px;
	margin-top:50px;
	height: 500px;
	float: left;
}
/* --------------------Descricao de produto--------------------------*/
.imagem_descricao{
	width: 400px;
	height: 400px;
	float: left;
	/*border: 2px solid #BFBFBF*/
}
.descricao_resumo{
	width: 400px;
	height: 400px;
	float: right;
	border-left: 1px solid #BFBFBF
}
.descricao_produto{
	width: 100%;
	height: auto;
	float: left;
	border-top: 1px solid #BFBFBF
}

/* ------------------------------------------------------------------*/


/* ------------------------------------------------------------------*/

/* --------------------Menu -----------------------------------------*/
#menu{
width:304px;/*uma largura de 120px ====> width:120px;*/
_width:320px; /* hack para IE */
/*background:#999999;*/	/*um fundo cinza claro ====> background:#999999;*/
padding:7px;	/*um espaçamento de 5px para ul(igual em toda volta)====> padding:5px;*/
/*border:3px inset #cccccc;	*/ /*uma borda simulando um efeito de baixo-relevo (inset)====> border:3px inset #cccccc.*/
}
#menu ul{
	width:210px;   /*uma largura de 110px ====> width:110px;*/
	padding:8px;		/*um espaçamento de 6px para li(igual em toda volta)====> padding:6px;*/
	margin:0;	/*e aqui um macete: os navegadores quando renderizam listas reservam uma margem esquerda de 50px para os marcadores da lista. Como não queremos marcadores temos que eliminar a margem default declarando ====> margin:0px;*/
	font-style: italic;/*background: #000;		*/	/*um fundo preto ====> background:#000000;*/
/*border:3px outset #ffffff;*/	/*uma borda simulando um efeito de alto-relevo (outset) ====> border:3px outset #cccccc.*/

}
#menu li {
	display: block;
	padding: 10px 5px 5px 0.5em;
	/*font-weight:bold;*/
	border-left: 80px;
	/*border-right: 10px solid ;/*#fff5ee;*/
/*background-color: #ffe4e1;*/
	color: #19FC00;
	text-decoration: none;/*list-style: none; /*vamos eliminar os marcadores de listas(as bolinhas pretas em cada item de lista )====> liste-style: none;*//*padding:4px 5px; /*colocar um espaçamento em volta das tags <li>( 5px à esquerda e à direita, 3px em cima e embaixo) ====> padding: 3px 5px;*//*background:#666666;*/   /*uma fundo cinza escuro ====> color:#666666;*//*margin-bottom:2px;    /*uma margem embaixo para obter espaço entre os itens da lista ====> margin-bottom:2px;*//*font: 12px verdana, arial, helvetiva, sans-serif;	/*e a definição do tipo e tamanho de letra ====> font: 12px verdana, arial, helvetica sans-serif;*/
}
#menu li a { 	/*link inicial quando a página é carregada a: link, cor branca - sem sublinhado;*/
	display:block;
	color: #000;
	text-decoration: none;
}
#menu li a:visited {	/*link visitadoa: visited, cor beje - sem sublinhado;*/
	color: #000;
}
#menu li a:hover { /*link com o mouse em cima a: hover, cor preta - fundo branco;*/
	color: #19FC00;
        font-weight:bold;
	
} 
